html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#container{
 position: absolute; 
 top: 0; bottom: 0; left: 0; right: 0;
}
  
.button{
  width: 27px;
  height: 16px;
  padding: 3px 15px;
  border: 1px solid #9d9d9d;
  background: #d0d0d0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#d0d0d0));
  background: -moz-linear-gradient(-90deg, #f9f9f9, #d0d0d0);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f9f9f9', endColorstr='#d0d0d0');
  border-radius: 4px;
  position: absolute;
  right: 0;
}

.dropdown{
   font: 12px "HelveticaNeue-Light","Helvetica Neue Light",helvetica,arial,sans-serif;
   color: #000000 !important;
   position: relative;
   top:5px;
   right: 113px;
   width: 150px;
   background: #f8f8f8; 
   border: 1px solid #9d9d9d;
   cursor: auto;
   border-radius: 4px;
   visibility: hidden;
}

.dropdown.active { visibility: visible; }

.dropdown a span { 
  display: block;
  line-height: 18px;
  margin: 0 5px;
}

.dropdown ul{
  list-style: none; 
  margin: 3px 0;
}

.dropdown li{
  margin: 1px 0;
  padding: 1px 0;
  width: 100%;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
}

.dropdown li:hover{
  border-top: 1px solid #7898b2;
  border-bottom: 1px solid #7898b2;
}

.dropdown li a {
  text-decoration: none;
  color: #000;
}

.dropdown li a:hover {
  color: #537088;
}

.link{
  background: #a1c9ea;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2e5ff), to(#a1c9ea));
  background: -moz-linear-gradient(-90deg, #c2e5ff, #a1c9ea);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c2e5ff', endColorstr='#a1c9ea');
}

.dropdown span.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}